<?xml version="1.0" encoding="UTF-8"?><Configuration>    <Appenders>        <Console name="Console">            <!--            Default            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>            Filter packages            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss,SSS} [%-6p] %c{1} – %m%n"/>            -->            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss,SSS} [%-6p] %c{1} – %m%n"/>        </Console>    </Appenders>    <Loggers>        <Root level="trace">            <AppenderRef ref="Console"/>        </Root>    </Loggers></Configuration>